*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: monospace;
    background: url(ball.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    mix-blend-mode: difference;
}